<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="hada_ProyectoGrupo.Site" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>HADA Esports</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <!-- Debería estar centrado pero .NET se carga el estilado -->
        <asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" class="navbar navbar-expand-lg navbar-light bg-light navbar-toggler w-100 pt-3 pb-3 justify-content-between">
            <Items>
                <asp:MenuItem Text="Inicio" NavigateUrl="~/Default.aspx"/>
                <asp:MenuItem Text="Torneos" NavigateUrl="~/Public/Torneos.aspx"/>
                <asp:MenuItem Text="Equipos" NavigateUrl="~/Public/Equipos.aspx"/>
                <asp:MenuItem Text="Noticias" NavigateUrl="~/Public/Noticias.aspx"/>
                <asp:MenuItem Text="Patrocinadores" NavigateUrl="~/Public/Patrocinadores.aspx"/>
                <asp:MenuItem Text="Registro" NavigateUrl="~/Public/Registro.aspx"/>
                <asp:MenuItem Text="Login" NavigateUrl="~/Public/Login.aspx"/>
                <asp:MenuItem Text="Jugadores" NavigateUrl="~/Public/Jugadores.aspx"/>
            </Items>
        </asp:Menu>
       
        <div class="container-fluid">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
         <div style="background-image: url('Fondo/Fondo.png'); background-size: cover; background-position: center; min-height: 100vh;"></div>
    </form>
</body>
</html>